@page "/kategori-detay/{id?}/{name}"
@model RazorPagesVizyoneks2.Pages.DetailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>

    @Model.RequestId

    <a asp-page="Index">Anasayfa</a>

</body>
</html>
